<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @note.text %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @note.topic %>
</p>

<p>
  <strong>Keywords:</strong>
  <%= @note.keywords %>
</p>

<p>
  <strong>Author:</strong>
  <%= @note.author %>
</p>

<p>
  <strong>Source:</strong>
  <%= @note.source %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
